---
import { MdxComponents } from "@/components/content/mdx-components";
import DocsSidebarNav from "@/components/layout/sidebar-nav.astro";
import DocsPageHeader from "@/components/page-header.astro";
import DocsPager from "@/components/pager.astro";
import { DashboardTableOfContents } from "@/components/toc";
import { Libraries, docsConfig, fetchSidebar, httpServiceSidebar, reactAuthenticationSidebar, reactFormSidebar, reactHookTableSidebar, reactRouterSidebar, reactSearchParamsSidebar, schemaSidebar, translationsSidebar, vue3HookFormSidebar, vue3UseAuthenticationSidebar } from "@/config/docs";
import DocsLayout from "@/layouts/docs-layout.astro";
import { getTableOfContents } from "@/lib/toc";
import { getCollection, type CollectionEntry } from "astro:content";
import { getLibraryFromURL } from '../../lib/libraries';
export const prerender = true;

export async function getStaticPaths() {
  const docs = await getCollection("docs");
  return docs.map((doc) => ({
    params: { slug: doc.slug },
    props: doc,
  }));
}

type Props = CollectionEntry<"docs">;

const doc = Astro.props;
const slug = Astro.params.slug;
const currentPage = Astro.url.pathname;
const toc = await getTableOfContents(doc.body);

const { Content } = await doc.render();

if (!slug || !doc) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}

const libraryCode = getLibraryFromURL(currentPage);
const getLibrarySidebar = (libraryCode: string) => {
  switch (libraryCode) {
    case Libraries.ReactForm:
        return reactFormSidebar
    case Libraries.Vue3HookForm:
        return vue3HookFormSidebar;
    case Libraries.Vue3UseAuthentication:
        return vue3UseAuthenticationSidebar;
    case Libraries.Schema:
      return schemaSidebar;
    case Libraries.Router:
      return reactRouterSidebar;
    case Libraries.Table:
      return reactHookTableSidebar;
    case Libraries.ReactSearchParams:
      return reactSearchParamsSidebar;
    case Libraries.Fetch:
      return fetchSidebar;
    case Libraries.HttpService:
      return httpServiceSidebar;
    case Libraries.Translations:
      return translationsSidebar;
    case Libraries.ReactAuthentication:
      return reactAuthenticationSidebar;
    default:
      return docsConfig.sidebarNav;
  }
};
---

<DocsLayout title={doc.data.title} description={doc.data.description}>
  <div class="container flex-1">
    <div
      class="flex-1 md:grid md:grid-cols-[220px_1fr] md:gap-6 lg:grid-cols-[240px_1fr] lg:gap-10"
    >
      <aside
        class="fixed top-18 z-30 hidden h-[calc(100vh-3.5rem)] w-full shrink-0 overflow-y-auto border-r py-6 pr-2 md:sticky md:block lg:py-8"
      >
        <DocsSidebarNav items={getLibrarySidebar(libraryCode)} />
      </aside>
      <main
        class="relative py-6 lg:gap-10 lg:py-10 xl:grid xl:grid-cols-[1fr_15rem]"
      >
        <div class="mx-auto w-full min-w-0">
          <DocsPageHeader
            heading={doc.data.title}
            text={doc.data.description}
          />

          <Content components={MdxComponents} />

          <hr class="my-4 md:my-6" />
          <DocsPager slug={doc.slug} />
        </div>
        <div class="hidden text-sm xl:block">
          <div
            class="sticky top-18 -mt-10 h-[calc(100vh-3.5rem)] overflow-y-auto pt-10"
          >
            <DashboardTableOfContents toc={toc} client:load />
          </div>
        </div>
      </main>
    </div>
  </div>
</DocsLayout>
