---
import Link from "@components/ui/link.astro";

type Feature = {
  title: string;
  description: string;
  href: string;
};

const features: Feature[] = [
  {
    title: "React Form",
    description:
      "Build forms easily in React with customizable options and validations.",
    href: "/react-form/intro",
  },
  {
    title: "Schemas",
    description:
      "Simplify data validation with nested schemas and custom rules.",
    href: "/schema/intro",
  },
  {
    title: "Translations",
    description:
      "Create multilingual applications with a simple API and translation key handling.",
    href: "/translations/intro",
  },
  {
    title: "React Router",
    description:
      "Enable client-side routing in your app without server requests.",
    href: "/react-router/intro",
  },
  {
    title: "React Hook Table",
    description:
      "Control tables easily with a set of React hooks.",
    href: "/react-hook-table/intro",
  },
  {
    title: "React Search Params",
    description:
      "Manage current URL parameters with a set of React hooks.",
    href: "/react-search-params/intro",
  },
  {
    title: "Fetch",
    description:
      "Fetch data in your React app with a simpler Service, including caching and retrying.",
    href: "/fetch/intro",
  }
];

type Collaborator = {
  name: string;
  github: string;
  image: string;
  role: string;
};

const collaborators: Collaborator[] = [
  {
    name: "José Oliveira",
    github: "https://github.com/josesilvaoliveira",
    image: "https://avatars.githubusercontent.com/u/103932528?v=4",
    role: "Creator/Lead Developer",
  },
  {
    name: "Rafael Pinto",
    github: "https://github.com/archie-rp",
    image: "https://avatars.githubusercontent.com/u/5406135?v=4",
    role: "Developer/Maintainer",
  },
  // Add more collaborators here
];
---

<div class="grid sm:grid-cols-2 md:grid-cols-3 mb-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="flex flex-col justify-between">
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
          <div class="pt-5">
            <Link href={item.href} size="md">Get Started</Link>
          </div>
        </div>
      </div>
    ))
  }
</div>

<div class="md:mt-0">
  <h2 class="text-2xl font-semibold">Collaborators</h2>
  
  <div class="grid grid-cols-2 gap-2 mt-4">
    {
      collaborators.map((collaborator) => (
        <div class="flex flex-col items-center">
          <img src={collaborator.image} alt={collaborator.name} class="w-24 h-24 rounded-full mb-2" />
          <span>{collaborator.name}</span>
          <span class="text-sm font-semibold">{collaborator.role}</span>
          <a href={collaborator.github} target="_blank" rel="noopener noreferrer">GitHub</a>
        </div>
      ))
    }
  </div>
</div>

